body {
    background: bisque;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
  .head {
      font: 400 400px "sans", bold;
  }
  .para {
    font: 60px "sans", bold;
}