body {
  background: whitesmoke;
  height: 90vh;
  font: 400 16px "Lato", bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
.password {
    --width: 280px;
    --height: 55px;
    background: #fff;
    width: var(--width);
    height: var(--height);
    padding: 0 var(--height) 0 20px;
    border-radius: 9px;
    position: relative;
    line-height: var(--height);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.4);
  }
  .password .icon {
    position: absolute;
    width: 55px;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .password .icon #sh-icon {
    color: #787a7c;
  }
  .password .wrapper {
    overflow: hidden;
    position: relative;
  }
  .password .wrapper .password-input,
  .password .wrapper .password-text,
  .password .wrapper .password-dots,
  ::placeholder {
    height: 100%;
    font: 400 16px "Lato", bold;
    letter-spacing: 3px;
    color: #787a7c;
  }
  .password .wrapper .password-input {
    width: 100%;
    outline: none;
    background: none;
    padding: 0;
    border: 0;
    color: transparent;
  }
  .password .wrapper .password-text,
  .password .wrapper .password-dots {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    line-height: 55px;
  }
  .password .wrapper .password-text > span,
  .password .wrapper .password-dots > span {
    transition: all 0.5s ease;
    display: inline-block;
    opacity: var(--opacity, 0);
  }
  .password .wrapper .password-text.cursor::after,
  .password .wrapper .password-dots.cursor::after {
    content: "";
    width: 2px;
    height: 20px;
    -webkit-text-security: none;
    background: rgba(79, 83, 90, 0.5);
    opacity: var(--opacity, 0);
    opacity: 1;
    display: inline-block;
    -webkit-animation: blink 0.9s linear infinite alternate;
            animation: blink 0.9s linear infinite alternate;
  }
  @-webkit-keyframes blink {
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .password .wrapper .password-dots {
    letter-spacing: 7px;
    -webkit-text-security: disc;
    font-family: "text-security-disc";
  }

  .password.show .icon #sh-icon {
    -webkit-animation: bounce 0.5s cubic-bezier(0, 1.26, 0.42, 1.26) forwards;
            animation: bounce 0.5s cubic-bezier(0, 1.26, 0.42, 1.26) forwards;
  }
  .password.show .wrapper .password-text > span {
    -webkit-animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards;
            animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards;
  }
  .password.show .wrapper .password-text > span:nth-child(1) {
    -webkit-animation-delay: 0.04s;
            animation-delay: 0.04s;
  }
  .password.show .wrapper .password-text > span:nth-child(2) {
    -webkit-animation-delay: 0.08s;
            animation-delay: 0.08s;
  }
  .password.show .wrapper .password-text > span:nth-child(3) {
    -webkit-animation-delay: 0.12s;
            animation-delay: 0.12s;
  }
  .password.show .wrapper .password-text > span:nth-child(4) {
    -webkit-animation-delay: 0.16s;
            animation-delay: 0.16s;
  }
  .password.show .wrapper .password-text > span:nth-child(5) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .password.show .wrapper .password-text > span:nth-child(6) {
    -webkit-animation-delay: 0.24s;
            animation-delay: 0.24s;
  }
  .password.show .wrapper .password-text > span:nth-child(7) {
    -webkit-animation-delay: 0.28s;
            animation-delay: 0.28s;
  }
  .password.show .wrapper .password-text > span:nth-child(8) {
    -webkit-animation-delay: 0.32s;
            animation-delay: 0.32s;
  }
  .password.show .wrapper .password-text > span:nth-child(9) {
    -webkit-animation-delay: 0.36s;
            animation-delay: 0.36s;
  }
  .password.show .wrapper .password-text > span:nth-child(10) {
    -webkit-animation-delay: 0.40s;
            animation-delay: 0.40s;
  }
  .password.show .wrapper .password-text > span:nth-child(11) {
    -webkit-animation-delay: 0.44s;
            animation-delay: 0.44s;
  }
  .password.show .wrapper .password-text > span:nth-child(12) {
    -webkit-animation-delay: 0.48s;
            animation-delay: 0.48s;
  }
  .password.show .wrapper .password-text > span:nth-child(13) {
    -webkit-animation-delay: 0.52s;
            animation-delay: 0.52s;
  }
  .password.show .wrapper .password-text > span:nth-child(14) {
    -webkit-animation-delay: 0.56s;
            animation-delay: 0.56s;
  }
  .password.show .wrapper .password-text > span:nth-child(15) {
    -webkit-animation-delay: 0.60s;
            animation-delay: 0.60s;
  }
  .password.show .wrapper .password-text > span:nth-child(16) {
    -webkit-animation-delay: 0.64s;
            animation-delay: 0.64s;
  }
  .password.show .wrapper .password-text.cursor > span {
    -webkit-animation: none;
            animation: none;
    opacity: var(--opacity, 1);
  }
  .password.show .wrapper .password-dots.cursor::after {
    display: none;
  }
  .password:not(.show) .wrapper .password-text.cursor::after {
    display: none;
  }
  .password:not(.show) .wrapper .password-dots > span {
    -webkit-animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
            animation: bounce 1s cubic-bezier(0, 1.26, 0.42, 1.26) forwards alternate;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(1) {
    -webkit-animation-delay: 0.04s;
            animation-delay: 0.04s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(2) {
    -webkit-animation-delay: 0.08s;
            animation-delay: 0.08s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(3) {
    -webkit-animation-delay: 0.12s;
            animation-delay: 0.12s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(4) {
    -webkit-animation-delay: 0.16s;
            animation-delay: 0.16s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(5) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(6) {
    -webkit-animation-delay: 0.24s;
            animation-delay: 0.24s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(7) {
    -webkit-animation-delay: 0.28s;
            animation-delay: 0.28s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(8) {
    -webkit-animation-delay: 0.32s;
            animation-delay: 0.32s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(9) {
    -webkit-animation-delay: 0.36s;
            animation-delay: 0.36s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(10) {
    -webkit-animation-delay: 0.40s;
            animation-delay: 0.40s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(11) {
    -webkit-animation-delay: 0.44s;
            animation-delay: 0.44s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(12) {
    -webkit-animation-delay: 0.48s;
            animation-delay: 0.48s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(13) {
    -webkit-animation-delay: 0.52s;
            animation-delay: 0.52s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(14) {
    -webkit-animation-delay: 0.56s;
            animation-delay: 0.56s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(15) {
    -webkit-animation-delay: 0.60s;
            animation-delay: 0.60s;
  }
  .password:not(.show) .wrapper .password-dots > span:nth-child(16) {
    -webkit-animation-delay: 0.64s;
            animation-delay: 0.64s;
  }
  .password:not(.show) .wrapper .password-dots.cursor > span {
    -webkit-animation: none;
            animation: none;
    opacity: var(--opacity, 1);
  }
  @-webkit-keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }
    30% {
      transform: translateY(1px);
      -webkit-animation-timing-function: ease;
    }
    35% {
      transform: translateY(1px);
      -webkit-animation-timing-function: ease;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }
    30% {
      transform: translateY(1px);
      animation-timing-function: ease;
    }
    35% {
      transform: translateY(1px);
      animation-timing-function: ease;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }



  
  
